@font-face {
    font-family: 'Montserrat-Regular';
    src: 
         url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */     
  }
  @font-face {
    font-family: 'Montserrat-Medium';
    src: 
         url('../fonts/Montserrat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */     
  }
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: 
         url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */     
  }

body{
    background-color: #e6eded;
    outline: 0 !important;
    font-family: 'Montserrat-Regular', Fallback, sans-serif;
    
      
}
.login-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
  }
  
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 25px;
    margin: auto;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  /* .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  } */
  
  /* Fallback for Edge
  -------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
  
  .login-btn{
    border-radius: 50px;
    background-color: rgb(255, 152, 0);
}

.navbar-dark{
    background: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   min-height: 60px;
}
.main-nav,.notification{
    background: transparent;
    border: 0;
    outline: 0 !important;
}
.main{
    padding-top: 60px;
    overflow-x: hidden;
    
}
.inner-header{
    background: #e6eded;
    min-height: 200px;
   
}
.top-header{
    background: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: top -60px left;
    background-size: cover;
    min-height: 200px;
   
}
.row.nav-list{
    margin: 0 20px !important;
}
.row > .salutation{
    margin: 0 20px !important;
}
.row > .logo{
    margin: 20px 20px !important;
}
.salutation p, h5{
    color:#ffff;
}
.salutation p{
    margin: 0px;
    font-size: 13px;
}
.salutation h5{
    font-family: 'Montserrat-SemiBold', Fallback, sans-serif;
}
.mt-20{
    margin-top: 20px;
}
.inner-header .salutation h5{
    font-size: 18px;
    color:#4a4a4a;
    margin: 0px;
}
.inner-header .salutation p{
    color:#817e7e;
    margin: 0px;
    font-size: 12px;
}
.inner-header .salutation h5, p{
    font-family: 'Montserrat-SemiBold', Fallback, sans-serif;
}


.inner-header .row > .salutation{
    margin:20px !important;
}

.home-nav {
    padding: 15px !important;
    margin-top: -50px;
}
.home-nav .item{
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    border:0;
    outline: 0 !important;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.18);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.18);
cursor: pointer;
    
}
.home-nav .item p{
    font-family: 'Montserrat-SemiBold', Fallback, sans-serif;   
 margin-top: 10px !important;
 margin-bottom: 0px !important;
 color: #7f7777;
}
.home-nav .item img{
    height:50px;
}
.white-wrap{
    background: #fff;
    padding-top: 10px;
}
.nav-list ul{
    padding: 0px;
}
.nav-list ul li{
    list-style:none;
}
.nav-list ul li button{
   
background: #fff;
color: #6d6d6d;
    font-size: 15px;
    outline: 0;
    border: 0;
    width: 100%;
    /* display: block; */
    text-align: left;
    padding: 15px 60px;
    border-radius: 10px;
    margin: 5px 0;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
}
.nav-list ul li button.rank{
    background-image: url(../images/rank.png);
    background-repeat: no-repeat;
    background-position: top 11px left 15px;
    background-size: 30px;
}
.nav-list ul li button.acheiver{
    background-image: url(../images/acheiver.png);
    background-repeat: no-repeat;
    background-position: top 11px left 15px;
    background-size: 30px;
}
.nav-list ul li button.location{
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    background-position: top 11px left 15px;
    background-size: 30px;
}
.nav-list ul li button.dwl{
    background-image: url(../images/dwl.png);
    background-repeat: no-repeat;
    background-position: top 11px left 15px;
    background-size: 30px;
}
.nav-list ul li button.contact{
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-position: top 11px left 15px;
    background-size: 30px;
}

.status{
    width: max-content;
    height: fit-content;
    font-size: 9px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 3px 10px;
    background-color: #575856;
}
.not-interested{
    background-color: #3a2c53 !important;
}
.inprogress{
    background-color: #e37c04 !important;
}
.active{
    background-color: #239d0f !important;
}
.nobtn{
    background-color: transparent;
    border: 0 !important;
    outline: 0 !important;
}
.kpi{
    background: #ffff;
    /* padding: 20px; */
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background: #ffff;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.18);
}
.kpi p{
    margin: 0px;
    font-size: 14px;
    color: #737272;
}
.kpi.Total h3{
 color: #018790;
}
.kpi.Inprogress h3{
    color: #e37c04;
   }
   .kpi.Active h3{
    color: #239d0f;
   }
 .list ul{
     padding: 0px;
 }  
 .list ul li{
    list-style: none;
    background-color: #fff;
    border-bottom:1px solid #d0caca ;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}  
.userdetails{
    display: flex;
    align-items: center;
}
.userdetails img{
    margin: 0px 10px;
    opacity: 0.5;
}
.details h5{
    padding: 0px;
    margin: 0px;
    color:#4a4a4a;
    font-size: 16px;
    font-weight: bold;
    
}
.details p{
    padding: 0px;
    margin: 0px;
    color:#696565;
    font-size: 12px;
}
.mr-10{
    margin-right: 10px;
}
.modal-title{
    text-transform: uppercase;
    color: #018790;
}
.modal-body{
    padding: 0px;
}
ul.selectstatus{
    padding: 0px;
    margin: 0px;
}
ul.selectstatus li{
    list-style: none;
}
ul.selectstatus li a{
   text-decoration: none;
   display: block;
   color:rgb(87, 86, 86);
   padding: 10px;
   border-bottom:1px solid #d0caca ;
}
/*===========================================*/
@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}


.modal-dialog-slideout .modal-header{
    background: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
}
.modal-dialog-slideout .modal-header h5{
    text-transform: capitalize;
   color:#fff;
   padding: 0px;
   margin: 0px;
}
.modal-dialog-slideout .modal-header p{
    text-transform: lowercase;
    font-size: 12px;
    color:#fff;
    padding: 0px;
    margin: 0px;
 }
button.status{
    border: 0 !important;
    outline: 0 !important;
}
.my-20{
    margin: 20px 0px;
}
.mx-20{
    margin: 0px 20px;
}
.addnew label{
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 0px !important;
    margin-top: 15px;
    color: #727373;
    font-weight: 400;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../images/cal.png') no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    border-width: thin;
}

select{
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url('../images/select.png') no-repeat right 10px center #ddd;
    background-size: 20px;
    -webkit-appearance: none;
    /* background-position-x: 291px; */
}
.btn-custom{
    background-color: #e37c04;
    color: #fff;
   
    border-radius: 30px;
}
.brd-error{
    border-bottom: 2px solid #ff0000;
}
.is-invalid-input{
    border-bottom: 2px solid #ff0000;
}
.form-signin .error-msg{
    color:#610000;
    font-size: 12px;
}
.error-msg{
    color:#ff0000;
    font-size: 12px;
}
.loader{
    display: 'block';
    z-index: 999;
}
.aligncenter {
    text-align: center;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay img{
    width: 94px;
}
.server-er{
    margin: 0px !important;
    font-size: 12px;
}

.changepasswordsuccess{
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: transparent;    
}

.mx-125{
    margin: 0px 125px;
}

.okbutton{
    width: 100px;
}